#header{
    background: blue;
}
.container{
    
    width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.header1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}